<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>51offer</title>
    <link href="./../../../static/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
		<div style="margin-top: 36px; background: url('./image/imac.png') 0 0 no-repeat; background-size: 1140px 943px; color: #ffffff; margin-bottom: 77px; padding: 38px 38px 267px; position: relative;">
		  <div style="  background-color: #B8BABB; min-height: 584px; padding: 123px 199px 33px 306px;">
			  <form class="form-signin" role="form" style="max-width: 330px; padding: 15px; margin: 0 auto;">
				  <div style="  background-color: #edeff1; padding: 6px 18px 16px; position: relative;border-radius: 6px;">
					<h2 class="form-signin-heading" style="color: rgb(95, 106, 110);">请输入账号密码</h2>
					<input type="text" class="form-control" placeholder="账号" style="margin-top:10px;" required autofocus>
					<input type="password" class="form-control" placeholder="密码" style="margin-top:10px;" required>
					<select class="form-control" style="margin-top:10px;" >
					  <option>同济大学</option>
					</select>
					<label class="checkbox" style="color: rgb(95, 106, 110);">
					  <input type="checkbox" value="remember-me" > 记住我
					</label>
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="color: #ffffff;background-color: #5F6A6E;border-color: #5F6A6E;">查询</button>
				  </div>
			  </form>
		  </div>
		</div>
    </div>
  </body>
</html>
