<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>51offer</title>
	<link rel="icon" href="http://static.51offer.com/skin/common/images/favicon.ico" type="image/x-icon">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
		<div style="margin-top: 36px; background: url('./image/imac.png') 0 0 no-repeat; background-size: 1140px 943px; color: #ffffff; margin-bottom: 77px; padding: 38px 38px 267px; position: relative;">
		  <div style="  background-color: #B8BABB; min-height: 584px; padding: 50px 99px 50px 99px;">
		<div class="bs-docs-example" style="background-color:white;border-radius: 6px;width: 880px; padding: 35px 25px 1px 25px;">
				<table class="table">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>title1</th>
					  <th>title2</th>
					  <th>title3</th>
					</tr>
				  </thead>
				  <tbody>
					<tr class="success">
					  <td>1</td>
					  <td>TB - Monthly</td>
					  <td>01/04/2012</td>
					  <td>Approved</td>
					</tr>
					<tr class="error">
					  <td>2</td>
					  <td>TB - Monthly</td>
					  <td>02/04/2012</td>
					  <td>Declined</td>
					</tr>
					<tr class="warning">
					  <td>3</td>
					  <td>TB - Monthly</td>
					  <td>03/04/2012</td>
					  <td>Pending</td>
					</tr>
					<tr class="info">
					  <td>4</td>
					  <td>TB - Monthly</td>
					  <td>04/04/2012</td>
					  <td>Call in to confirm</td>
					</tr>
					<tr class="success">
					  <td>1</td>
					  <td>TB - Monthly</td>
					  <td>01/04/2012</td>
					  <td>Approved</td>
					</tr>
					<tr class="error">
					  <td>2</td>
					  <td>TB - Monthly</td>
					  <td>02/04/2012</td>
					  <td>Declined</td>
					</tr>
					<tr class="warning">
					  <td>3</td>
					  <td>TB - Monthly</td>
					  <td>03/04/2012</td>
					  <td>Pending</td>
					</tr>
					<tr class="info">
					  <td>4</td>
					  <td>TB - Monthly</td>
					  <td>04/04/2012</td>
					  <td>Call in to confirm</td>
					</tr>					
					<tr class="success">
					  <td>1</td>
					  <td>TB - Monthly</td>
					  <td>01/04/2012</td>
					  <td>Approved</td>
					</tr>
					<tr class="error">
					  <td>2</td>
					  <td>TB - Monthly</td>
					  <td>02/04/2012</td>
					  <td>Declined</td>
					</tr>
				  </tbody>
				</table>
			</div>
		  </div>
		</div>
    </div>
  </body>
</html>
